extends layout

block content
  h1 Vocabulary List
  a(href="/create") Add New Word
  a(href="/random", style="margin-left: 20px;") Show Random Word

  each word in vocab
    .vocab-item
      strong= word.word
      p= word.meaning
      small Example: #{word.example}
      br
      a(href=`/edit/${word._id}`) Edit |
      a(href=`/delete/${word._id}`) Delete
